.top {
  width: 50%;
  margin: auto;
  border: 5px solid black;
}

.main {
  width: 50%;
  border: 5px solid grey;
  border-radius: 5px;

  margin: auto;
}

#headshot {
  border-radius: 50%;
  border: 5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
