* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-style: bold;
  color: black;
  border: 15px solid green;
}

.top p {
  font-size: medium;
  color: teal;
}

.main {
  border: 15px solid green;
}

#headshot {
  width: auto;
  border-radius: 15px solid green;
}
